/*
Color Palette
#a4cac8 Pale Turquoise
#679693 rgb(103, 150, 147) Dark Turquoise

#d56f98 Dark Pink
#c76675 pink hover
#edb7bc Pink
#f2dadb Pale Pink
#f2f2ea White ish
#aecdc4 turquoise
 */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
}
hr {
  border: 0;
  border-top: 1px solid #d56f98;
  border-width: 3px;
  max-width: 50px;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(131, 162, 211, 0.75), rgba(131, 162, 211, 0.75)), url('../img/header-min.jpg');
  /*originally was rgba(103, 150, 147, 0.75))*/
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 500;
  /*text-transform: uppercase;*/
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 70px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
