html,
body {
  height: 100%;
  width: 100%;
}

body {
  /* font-family: 'Open Sans', Arial, sans-serif; */
  /* below font faster because it's the os's natural font */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 20px; /* a text line takes more space */
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.bg-primary {
  background: linear-gradient(rgba(213, 111, 152, 0.75), rgba(131, 162, 211, 0.75)) fixed; /* fixed so that the gradient does not repeat when we scroll */
}

.bg-secondary {
  background: rgb(250, 250, 250);
  color: rgb(51, 51, 51);
}

.cursive {
  font-family: 'Kaushan Script', cursive;
}

hr {
  border: 0;
  border-top: 1px solid #d56f98;
  border-width: 3px;
  max-width: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

section hr {
  border: 0;
  border-top: 1px solid rgb(131, 162, 211);
  border-width: 3px;
}

img.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

header {
  /* background: linear-gradient(rgba(213, 111, 152, 0.75), rgba(131, 162, 211, 0.75)) fixed; fixed so that the gradient does not repeat when we scroll */
  position: relative;
  width: 100%;
  color: white;
}

.section-content {
  padding: 75px;
}

header h1 {
  margin-bottom: 5px;
}

header a {
  color: white;
}

header a:hover {
  color: rgba(213, 111, 152, 0.75);
}

header a .underlined{
  text-decoration: none;
  border-bottom: 1px solid white;
}

header a:hover .underlined{
  border-bottom: 1px solid rgba(213, 111, 152, 0.75);
}

div.long-text {
  max-width: 700px;
  margin: auto;
}
