/*
Color Palette
#a4cac8 Pale Turquoise
#679693 rgb(103, 150, 147) Dark Turquoise

#d56f98 Dark Pink rgba(213, 111, 152, 0.75)
#c76675 pink hover
#edb7bc Pink
#f2dadb Pale Pink
#f2f2ea White ish
#aecdc4 turquoise
 */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
}
hr {
  border: 0;
  border-top: 1px solid #d56f98;
  border-width: 3px;
  max-width: 50px;
}

img.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-image: linear-gradient(rgba(213, 111, 152, 0.75), rgba(131, 162, 211, 0.75));
  text-align: center;
  color: white;
}

header .header-content {
  padding: 100px;
}
