h1 {
    font-family: Verdana;
    font-size: 60px;
    margin:30px;
    text-align:center;
    color: #EDF2FF;
}

body {
    background-color: #EDF2FF;
    font-family: Verdana;
    font-size: 12px;
}

#body {
    background-color: #83A5FF;
}

a {
    text-decoration: none;
    color: #83A5FF;
    font-size:35px;
}

p{
    font-size:90px;
    text-align:center;
    color: #83A5FF;
    font-family: Verdana;
}


td {
    text-align:center;
}

.medium {
    text-decoration: none;
    color:#83A5FF;
    font-size:25px;
}

.small{
    text-decoration: none;
    color:#83A5FF;
    font-size:10px;
}

ul{
    text-decoration: none;
    color:#83A5FF;
    font-size:25px;
}



