.rabbit-eye {
  position: absolute;
  width: 45%;
  height: 50%;
  right: 43%;
  border-top-left-radius: 55% 50%;
  border-top-right-radius: 45% 50%;
  z-index: 2;
}
.rabbit-eye:before {height: 25%;
  width: 25%;
  border-radius: 200%;
  background: black;
  top: 45%;
  left: 35%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.rabbit-eye + .rabbit-eye {
  z-index: 1;
  right: initial;
  left: 45%;
  border-top-right-radius: 55% 50%;
  border-top-left-radius: 45% 50%;
}

.rabbit-nose {
  z-index: 2;
  position: absolute;
  width: 7%;
  height: 7%;
  top: 35%;
  left: 47%;
}
.rabbit-nose:after {
  background: pink;
  height: 100%;
  width: 100%;
  border-top-left-radius: 20% 20%;
  border-top-right-radius: 30% 20%;
  border-bottom-right-radius: 55% 80%;
  border-bottom-left-radius: 50% 80%;
}

.rabbit-ear {
  -webkit-animation: rabbit-left-ear 12s both infinite;
  animation: rabbit-left-ear 12s both infinite;
  position: absolute;
  top: 3%;
  left: -28%;
  width: 85%;
  height: 30%;
  border-bottom-left-radius: 100% 90%;
  border-top-left-radius: 10%;
  -webkit-transform-origin: 80% center;
  transform-origin: 80% center;
  overflow: hidden;
  background: white;
}
.rabbit-ear:before {
  width: 65%;
  height: 55%;
  border-bottom-left-radius: 100% 90%;
  border-top-left-radius: 10%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  overflow: hidden;
  background: pink;
  width: 70%;
  height: 55%;
  top: 20%;
  left: 15%;
  -webkit-transform: skewX(30deg) rotate(-1deg);
  transform: skewX(30deg) rotate(-1deg);
}
.rabbit-ear + .rabbit-ear {
  -webkit-animation: rabbit-right-ear 12s both infinite;
  animation: rabbit-right-ear 12s both infinite;
  background-color: white;
  left: -35%;
  top: 5%;
  z-index: -1;
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
.rabbit-ear + .rabbit-ear:before {
  border-color: #2c2f36;
}
.rabbit-ear + .rabbit-ear:after {
  background: #2c2f36;
}

.rabbit-body {
  width: 15vmin;
  height: 15vmin;
  border-radius: 35vmin;
  background: rgb(255,255,250);
  position: absolute; 
  z-index: 1;
} 

#ball {
  width: 15vmin;
  height: 15vmin;
  border-radius: 35vmin;
  background: rgb(255,255,250);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#777777',GradientType=0 );
  position: absolute;
  top: 0; 
  z-index: 11;
  -webkit-animation: jump 1s infinite;
  -moz-animation: jump 1s infinite;
  -o-animation: jump 1s infinite;
  -ms-animation: jump 1s infinite;
  animation: jump 1s infinite;
  cursor: pointer;
  left: 75%;
} 

/* Animations*/
@keyframes rabbit-left-ear {
  0% {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    animation-timing-function: ease-in;
  }
  20% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: rotateZ(55deg);
    transform: rotateZ(55deg);
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes rabbit-left-ear {
  0% {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    animation-timing-function: ease-in;
  }
  20% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: rotateZ(55deg);
    transform: rotateZ(55deg);
    animation-timing-function: ease-in;
  }
}
@-webkit-keyframes rabbit-right-ear {
  0% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  6.66667% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  13.33333% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  26.66667% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  33.33333% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  36.66667% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  37.33333% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  38% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  40% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  40.66667% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  41.33333% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  46.66667% {
    -webkit-transform: rotateZ(-9deg) rotateY(180deg);
    transform: rotateZ(-9deg) rotateY(180deg);
  }
  53.33333% {
    -webkit-transform: rotateZ(-9deg) rotateY(180deg);
    transform: rotateZ(-9deg) rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  60.66667% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  61.33333% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  62.66667% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  63.33333% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  64% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  80% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  93.33333% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
}
@keyframes rabbit-right-ear {
  0% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  6.66667% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  13.33333% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  26.66667% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  33.33333% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  36.66667% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  37.33333% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  38% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  40% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  40.66667% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  41.33333% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  46.66667% {
    -webkit-transform: rotateZ(-9deg) rotateY(180deg);
    transform: rotateZ(-9deg) rotateY(180deg);
  }
  53.33333% {
    -webkit-transform: rotateZ(-9deg) rotateY(180deg);
    transform: rotateZ(-9deg) rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  60.66667% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  61.33333% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  62.66667% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  63.33333% {
    -webkit-transform: rotateZ(-30deg) rotateY(180deg);
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  64% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  80% {
    -webkit-transform: rotateZ(-19deg) rotateY(180deg);
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  93.33333% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateZ(-16deg) rotateY(180deg);
    transform: rotateZ(-16deg) rotateY(180deg);
  }
}

@-webkit-keyframes jump {
  0% {top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  40% {}
  50% {top: 140px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {top: 160px; height: 120px; border-radius: 70px / 60px;
    -webkit-animation-timing-function: ease-in;}
  65% {top: 120px; height: 140px; border-radius: 70px;
    -webkit-animation-timing-function: ease-out;}
  95% {
    top: 0;   
    -webkit-animation-timing-function: ease-in;
  }
  100% {top: 0;
    -webkit-animation-timing-function: ease-in;
  }
}

@-moz-keyframes jump {
  0% {top: 0;
    -moz-animation-timing-function: ease-in;
  }
  40% {}
  50% {top: 140px;
    height: 140px;
    -moz-animation-timing-function: ease-out;
  }
  55% {top: 160px; height: 120px; border-radius: 70px / 60px;
    -moz-animation-timing-function: ease-in;}
  65% {top: 120px; height: 140px; border-radius: 70px;
    -moz-animation-timing-function: ease-out;}
  95% {
    top: 0;   
    -moz-animation-timing-function: ease-in;
  }
  100% {top: 0;
    -moz-animation-timing-function: ease-in;
  }
}

@-o-keyframes jump {
  0% {top: 0;
    -o-animation-timing-function: ease-in;
  }
  40% {}
  50% {top: 140px;
    height: 140px;
    -o-animation-timing-function: ease-out;
  }
  55% {top: 160px; height: 120px; border-radius: 70px / 60px;
    -o-animation-timing-function: ease-in;}
  65% {top: 120px; height: 140px; border-radius: 70px;
    -o-animation-timing-function: ease-out;}
  95% {
    top: 0;   
    -o-animation-timing-function: ease-in;
  }
  100% {top: 0;
    -o-animation-timing-function: ease-in;
  }
}

@-ms-keyframes jump {
  0% {top: 0;
    -ms-animation-timing-function: ease-in;
  }
  40% {}
  50% {top: 140px;
    height: 140px;
    -ms-animation-timing-function: ease-out;
  }
  55% {top: 160px; height: 120px; border-radius: 70px / 60px;
    -ms-animation-timing-function: ease-in;}
  65% {top: 120px; height: 140px; border-radius: 70px;
    -ms-animation-timing-function: ease-out;}
  95% {
    top: 0;   
    -ms-animation-timing-function: ease-in;
  }
  100% {top: 0;
    -ms-animation-timing-function: ease-in;
  }
}

@keyframes jump {
  0% {
    top: 33vmin; 
    animation-timing-function: ease-in;
  }
  10% {
    top: 27vmin;
    animation-timing-function: ease-out;
  }
  55% {
    top: 22vmin; 
    animation-timing-function: ease-in;
  }
  85% {
    top: 27vmin; 
    animation-timing-function: ease-out;
  }
  100% {
    top: 33vmin; 
    animation-timing-function: ease-in;
  }
}
